<!DOCTYPE html>
{{- partial "docs/shared" -}}
<html>

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>

<body>
  <input type="checkbox" style="display: none" id="menu-control" />
  <main class="flex container">

    <aside class="book-menu fixed">
      {{ partial "docs/menu" . }}
    </aside>

    <div class="book-page">
      {{ partial "docs/mobile-header" . }}
      {{ template "main" . }}
<!--      {{ partial "docs/git-footer" . }} -->
    </div>

    {{ template "toc" . }}
  </main>
  
  

  {{ partial "docs/inject/body" . }}
  {{ template "_internal/google_analytics_async.html" . }}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/print-details.js"></script>
<!-- <script src="/copy-paste-button.js"></script> -->

</html>
