$padding-1: 1px;
$padding-4: 0.25rem;
$padding-8: 0.5rem;
$padding-16: 1rem;
$padding-left-large: 200px;

$font-size-base: 19px;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;

// Grayscale
$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$rtgr-blue: #4A5DA7 ;
$rtgr-blue-secondary: #7785BD ;
$rtgr-blue-3: #DBE3FF ;
$rtgr-red: #EC5F65 ;
$rtgr-magenta: #9C64AD ;

$rtgr-green-devops-1: #588B8B;
$rtgr-green-devops-2: #D6E3E5;
$rtgr-green-devops-3: #ABD1D1;
$rtgr-green-devops-4: #389999;
$rtgr-green-devops-5: #1F5252;


$color-link: $rtgr-blue;
$color-visited-link: #8440f1;

$title-font-color: $rtgr-blue;
$title-font-weight: 1000;

$response-font-color: $black;
$response-font-weight: 500;
$response-font-size: $font-size-12;
$response-background-color: $rtgr-blue-3;
$response-border-color: $rtgr-blue;

$body-background: $white    ;
$body-font-color: $gray-800;
$body-font-weight: 380;
$body-min-width: 25rem;


 
$nav-background: $body-background;
$nav-link-color: $gray-800;



$header-height: 3.5rem;
$menu-width: 18rem;
$toc-width: 14rem;

$container-min-width: $body-min-width;
$container-max-width: 80rem;

$sm-breakpoint: $menu-width + $body-min-width;
$md-breakpoint: $sm-breakpoint + $toc-width;