@import "variables";
@import "markdown";
@import "utils";


.book-page {
  padding-left: 190px;
}

html {
  font-size: $font-size-base;
  //letter-spacing: 0.33px;
  scroll-behavior: smooth;
}

html,body {
  min-width: $body-min-width;
  overflow-x: hidden;
}



body {
  color: $body-font-color;
  //text-align: justify;
  background: $body-background;

  font-family: "Montserrat", sans-serif;
  font-weight: $body-font-weight;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }

  
}


details{
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
  font-weight: $response-font-weight;
  font-size: $response-font-size;


}

summary {
  margin: -.5em -.5em 0;
  color: $response-font-color;
  font-weight: $response-font-weight;
  background: $response-background-color;
  outline:none;
}


details[open] summary{
  background: #42B7A1;

}



h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: $title-font-color;
  font-weight: $title-font-weight;
}

h2 {
  margin-top: 75px;
  font-family: "Raleway", sans-serif;
//  background-color: #1B75BC;
//  text-align: center;
  color: $title-font-color;
  font-weight: $title-font-weight;
  font-size: 30;
  border-bottom: 2px solid $rtgr-red; 
//  color: white;
//  border-radius:10px 10px 10px 10px;
//  border:solid 1px #1275BB; 
//  padding:5px; 
//  margin-right:20px;
}

h3 {
  margin-top: 45px;
  color: $rtgr-blue-secondary
}


h4 {

  color: $rtgr-blue-secondary
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $color-link;

  &:visited {
    color: $color-visited-link;
  }
}

img {
  vertical-align: middle;
}

aside nav ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    margin: 1em 0;
  }

  a {
    display: block;
  }

  a:hover {
    opacity: .5;
  }

  ul {
    padding-left: $padding-16;
  }
}

ul.pagination {
  display: flex;
  justify-content: center;

  .page-item a {
    padding: $padding-16;
  }
}

.container {
  min-width: $container-min-width;
  max-width: $container-max-width;
  margin: 0 auto;
}

.book-brand {
  margin-top: 0;
  background-color: white;
  text-align: left;
  font-weight: 800;
  font-size: 15;
  color: white;
  border-radius:10px 10px 10px 10px;
  border:solid 1px white; 
  padding:0px; 
  margin-right:0px;
}

.book-menu {
  flex: 0 0 $menu-width;
  font-size: $font-size-14;
  color: $rtgr-blue-secondary;

  nav {
    
    width: $menu-width;
    padding: $padding-16;

    @include fixed;
  }

  @include dark-links;
}

details {
margin-top: 19px;
}
.book-page {
  min-width: $body-min-width;
  max-width: 1200px;
}

.book-header {
  margin-bottom: 30;
  margin-bottom: 75px;
  display: none;
}

.book-toc {
  flex: 0 0 $toc-width;
  font-size: $font-size-12;
  nav {
    width: $toc-width;
    padding: $padding-16;

    @include fixed;
  }

  nav > ul > li {
    margin: 0;
  }
}

.book-git-footer {
  display: flex;
  margin-top: $padding-16;
  font-size: $font-size-14;
  align-items: baseline;

  img {
    width: $font-size-14;
    vertical-align: bottom;
  }
}


.book-posts {
  min-width: $body-min-width;
  max-width: $sm-breakpoint;
  padding: $padding-16;

  article {
    padding-bottom: $padding-16;
  }
}



// TEST
  .book-menu {
    margin-left: -$menu-width;
  }

  .book-header {
    display: flex;
  }

  #menu-control:checked + main {
    .book-menu nav,
    .book-page,
    .book-posts {
      transform: translateX($menu-width);
    }

    .book-header label {
      transform: rotate(90deg);
    }


  }
// FIN TEST




















// Responsive styles

// Celui là s'applique quand on clique sur le burger 
// et que le menu n'est pas à l'écran
aside nav,
.book-page,
.book-posts,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin-left, opacity;
  will-change: transform, margin-left;
}

@media screen and (max-width: $md-breakpoint) {
  .book-toc {
    display: none;
  }
}

@media screen and (max-width: $sm-breakpoint) {
  .book-menu {
    margin-left: -$menu-width;
  }

  .book-header {
    display: flex;
  }

  #menu-control:checked + main {
    .book-menu nav,
    .book-page,
    .book-posts {
      transform: translateX($menu-width);
    }

    .book-header label {
      transform: rotate(90deg);
    }

    .markdown {
      opacity: 0.25;
    }
  }
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
  .book-page,
  .book-menu nav,
  .book-toc nav {
    padding-left: $padding-16 * 2 $padding-16;
  }
}

// Extra space for big screens
@media print {
  .book-menu {
    margin-left: -$menu-width;
  }
  .book-page {
    padding-left: 0px;
  }
  .book-header {
    display: none;
  }

  #menu-control:checked + main {
    .book-menu nav,
    .book-page,
    .book-posts {
      transform: translateX($menu-width);
    }

    .book-header label {
      transform: rotate(90deg);
    }

    .markdown {
      opacity: 0.25;
    }
  }
}


// Testing copy paste button for code snippet


.gh-csc-wrap {
  position: relative;
}
.gh-csc-wrap:hover .gh-csc-button {
  display: block;
}
.gh-csc-button {
  display: none;
  padding: 3px 6px;
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 20;
}
.gh-csc-wrap.ghd-code-wrapper .gh-csc-button {
  right: 31px;
}
.gh-csc-button svg {
  vertical-align: text-bottom;
}