<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{- template "title" . }} | {{ .Site.Title -}}</title>

<link rel="stylesheet" href="{{ "normalize.min.css" | relURL }}">
{{ $styles := resources.Get "book.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}

<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
<!--<script src="/clipboard.js"></script>-->


{{ "<!--" | safeHTML }}
Made with Book Theme
https://github.com/alex-shpak/hugo-book
{{ "-->" | safeHTML }}